<div
  class="content m-5"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <h1>Welcome, <%= username %>!</h1>
  <p>You are logged in.</p>
  <a href="/logout" class="btn btn-danger">Logout</a>
</div>
